# Project: Investigate a Dataset (FBI Gun Data)

(original source on Github) https://github.com/BuzzFeedNews/nics-firearm-background-checks/blob/master/README.md

## Table of Contents
<ul>
<li><a href="#intro">Introduction</a></li>
<li><a href="#wrangling">Data Wrangling</a></li>
<li><a href="#eda">Exploratory Data Analysis</a></li>
<li><a href="#conclusions">Conclusions</a></li>
</ul>

<a id='intro'></a>
## Introduction
https://docs.google.com/document/d/e/2PACX-1vTlVmknRRnfy_4eTrjw5hYGaiQim5ctr9naaRd4V9du2B5bxpd8FEH3KtDgp8qVekw7Cj1GLk1IXdZi/pub?embedded=True
> If you're not sure what questions to ask right now, then make sure you familiarize yourself with the variables and the dataset context for ideas of what to explore.

The data comes from the FBI's National Instant Criminal Background Check System. The NICS is used by to determine whether a prospective buyer is eligible to buy firearms or explosives. Gun shops call into this system to ensure that each customer does not have a criminal record or isn’t otherwise ineligible to make a purchase. The data has been supplemented with state level data from (https://www.census.gov/) 
 - The NICS data is found in one sheet of an .xlsx file. It contains the number of firearm checks by month, state, and type.
 - The U.S. census data is found in a .csv file. It contains several variables at the state level. Most variables just have one data point per state (2016), but a few have data for more than one year.
 - Possible Questions
   - What census data is most associated with high gun per capita? 
   - Which states have had the highest growth in gun registrations? 
   - What is the overall trend of gun purchases?

In [1]:
# Use this cell to set up import statements for all of the packages that you plan to use.
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import csv

<a id='wrangling'></a>
## Data Wrangling

> **Tip**: In this section of the report, you will load in the data, check for cleanliness, and then trim and clean your dataset for analysis. Make sure that you document your steps carefully and justify your cleaning decisions.

### General Properties

In [2]:
# Load your data and print out a few lines. Perform operations to inspect data types and look for instances of missing or 
#possibly errant data.
df1 = pd.read_excel('C:/Users/Minkun/Desktop/classes_1/NanoDeg/1.Data_AN/L3/case03-project/data/FBI-GUN-data/gun_data.xlsx', sheetname='Sheet1')
df2 = pd.read_csv('C:/Users/Minkun/Desktop/classes_1/NanoDeg/1.Data_AN/L3/case03-project/data/FBI-GUN-data/U.S. Census Data.csv')
df1.shape, df2.shape

((12485, 27), (85, 52))

In [3]:
# duplicate rows
sum(df1.duplicated()), sum(df2.duplicated())

(0, 3)

In [4]:
# What does it look like? ".isin()" 
df2[df2['Fact'].isin(df2.Fact[df2.Fact.duplicated()])]

,Fact,Fact Note,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81,NaN,Not available,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# Dedupping
df2.drop_duplicates(inplace=True)
#df2[df2['Fact'].isin(df2.Fact[df2.Fact.duplicated()])]

In [ ]:
############################################################################################################################

In [6]:
# rows with missing - df1 'the number of firearm checks'
df1.isnull().sum()
df1.head()

,month,state,permit,permit_recheck,handgun,long_gun,other,multiple,admin,prepawn_handgun,...,returned_other,rentals_handgun,rentals_long_gun,private_sale_handgun,private_sale_long_gun,private_sale_other,return_to_seller_handgun,return_to_seller_long_gun,return_to_seller_other,totals
0,2017-09,Alabama,16717.0,0.0,5734.0,6320.0,221.0,317,0.0,15.0,...,0.0,0.0,0.0,9.0,16.0,3.0,0.0,0.0,3.0,32019
1,2017-09,Alaska,209.0,2.0,2320.0,2930.0,219.0,160,0.0,5.0,...,0.0,0.0,0.0,17.0,24.0,1.0,0.0,0.0,0.0,6303
2,2017-09,Arizona,5069.0,382.0,11063.0,7946.0,920.0,631,0.0,13.0,...,0.0,0.0,0.0,38.0,12.0,2.0,0.0,0.0,0.0,28394
3,2017-09,Arkansas,2935.0,632.0,4347.0,6063.0,165.0,366,51.0,12.0,...,0.0,0.0,0.0,13.0,23.0,0.0,0.0,2.0,1.0,17747
4,2017-09,California,57839.0,0.0,37165.0,24581.0,2984.0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,123506

In [7]:
df1.info()
df1.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12485 entries, 0 to 12484
Data columns (total 27 columns):
month                        12485 non-null object
state                        12485 non-null object
permit                       12461 non-null float64
permit_recheck               1100 non-null float64
handgun                      12465 non-null float64
long_gun                     12466 non-null float64
other                        5500 non-null float64
multiple                     12485 non-null int64
admin                        12462 non-null float64
prepawn_handgun              10542 non-null float64
prepawn_long_gun             10540 non-null float64
prepawn_other                5115 non-null float64
redemption_handgun           10545 non-null float64
redemption_long_gun          10544 non-null float64
redemption_other             5115 non-null float64
returned_handgun             2200 non-null float64
returned_long_gun            2145 non-null float64
returned_other               1815 non-null float64
rentals_handgun              990 non-null float64
rentals_long_gun             825 non-null float64
private_sale_handgun         2750 non-null float64
private_sale_long_gun        2750 non-null float64
private_sale_other           2750 non-null float64
return_to_seller_handgun     2475 non-null float64
return_to_seller_long_gun    2750 non-null float64
return_to_seller_other       2255 non-null float64
totals                       12485 non-null int64
dtypes: float64(23), int64(2), object(2)
memory usage: 2.6+ MB

,month,state,permit,permit_recheck,handgun,long_gun,other,multiple,admin,prepawn_handgun,...,returned_other,rentals_handgun,rentals_long_gun,private_sale_handgun,private_sale_long_gun,private_sale_other,return_to_seller_handgun,return_to_seller_long_gun,return_to_seller_other,totals
0,2017-09,Alabama,16717.0,0.0,5734.0,6320.0,221.0,317,0.0,15.0,...,0.0,0.0,0.0,9.0,16.0,3.0,0.0,0.0,3.0,32019
1,2017-09,Alaska,209.0,2.0,2320.0,2930.0,219.0,160,0.0,5.0,...,0.0,0.0,0.0,17.0,24.0,1.0,0.0,0.0,0.0,6303
2,2017-09,Arizona,5069.0,382.0,11063.0,7946.0,920.0,631,0.0,13.0,...,0.0,0.0,0.0,38.0,12.0,2.0,0.0,0.0,0.0,28394
3,2017-09,Arkansas,2935.0,632.0,4347.0,6063.0,165.0,366,51.0,12.0,...,0.0,0.0,0.0,13.0,23.0,0.0,0.0,2.0,1.0,17747
4,2017-09,California,57839.0,0.0,37165.0,24581.0,2984.0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,123506

In [8]:
#df1[df1.isin(
df1.permit[df1.permit.isnull()]

7279    NaN
7310    NaN
7804    NaN
7859    NaN
7914    NaN
7969    NaN
8024    NaN
8079    NaN
8134    NaN
8189    NaN
8244    NaN
8299    NaN
8354    NaN
8409    NaN
8491    NaN
9674    NaN
12011   NaN
12066   NaN
12121   NaN
12176   NaN
12231   NaN
12286   NaN
12341   NaN
12396   NaN
Name: permit, dtype: float64

In [9]:
df1.iloc[7279]

month                          2006-09
state                        Louisiana
permit                             NaN
permit_recheck                     NaN
handgun                           5948
long_gun                         10836
other                              NaN
multiple                           253
admin                                0
prepawn_handgun                      5
prepawn_long_gun                     6
prepawn_other                      NaN
redemption_handgun                 706
redemption_long_gun               1326
redemption_other                   NaN
returned_handgun                     0
returned_long_gun                    0
returned_other                     NaN
rentals_handgun                    NaN
rentals_long_gun                   NaN
private_sale_handgun               NaN
private_sale_long_gun              NaN
private_sale_other                 NaN
return_to_seller_handgun           NaN
return_to_seller_long_gun          NaN
return_to_seller_other             NaN
totals                           19080
Name: 7279, dtype: object

In [10]:
df1.fillna(0, inplace=True)

In [11]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12485 entries, 0 to 12484
Data columns (total 27 columns):
month                        12485 non-null object
state                        12485 non-null object
permit                       12485 non-null float64
permit_recheck               12485 non-null float64
handgun                      12485 non-null float64
long_gun                     12485 non-null float64
other                        12485 non-null float64
multiple                     12485 non-null int64
admin                        12485 non-null float64
prepawn_handgun              12485 non-null float64
prepawn_long_gun             12485 non-null float64
prepawn_other                12485 non-null float64
redemption_handgun           12485 non-null float64
redemption_long_gun          12485 non-null float64
redemption_other             12485 non-null float64
returned_handgun             12485 non-null float64
returned_long_gun            12485 non-null float64
returned_other               12485 non-null float64
rentals_handgun              12485 non-null float64
rentals_long_gun             12485 non-null float64
private_sale_handgun         12485 non-null float64
private_sale_long_gun        12485 non-null float64
private_sale_other           12485 non-null float64
return_to_seller_handgun     12485 non-null float64
return_to_seller_long_gun    12485 non-null float64
return_to_seller_other       12485 non-null float64
totals                       12485 non-null int64
dtypes: float64(23), int64(2), object(2)
memory usage: 2.6+ MB

In [55]:
year = df1['month'].str.extract('(\d+)', expand=True).astype(int)

In [77]:
df1.head()
df11 = df1.join(year)
df11 = df11.rename(columns = {0 : 'year'})
df11.head()

,month,state,permit,permit_recheck,handgun,long_gun,other,multiple,admin,prepawn_handgun,...,rentals_handgun,rentals_long_gun,private_sale_handgun,private_sale_long_gun,private_sale_other,return_to_seller_handgun,return_to_seller_long_gun,return_to_seller_other,totals,year
0,2017-09,Alabama,16717.0,0.0,5734.0,6320.0,221.0,317,0.0,15.0,...,0.0,0.0,9.0,16.0,3.0,0.0,0.0,3.0,32019,2017
1,2017-09,Alaska,209.0,2.0,2320.0,2930.0,219.0,160,0.0,5.0,...,0.0,0.0,17.0,24.0,1.0,0.0,0.0,0.0,6303,2017
2,2017-09,Arizona,5069.0,382.0,11063.0,7946.0,920.0,631,0.0,13.0,...,0.0,0.0,38.0,12.0,2.0,0.0,0.0,0.0,28394,2017
3,2017-09,Arkansas,2935.0,632.0,4347.0,6063.0,165.0,366,51.0,12.0,...,0.0,0.0,13.0,23.0,0.0,0.0,2.0,1.0,17747,2017
4,2017-09,California,57839.0,0.0,37165.0,24581.0,2984.0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,123506,2017

In [89]:
df11.query('state == "Alaska"')

,month,state,permit,permit_recheck,handgun,long_gun,other,multiple,admin,prepawn_handgun,...,rentals_handgun,rentals_long_gun,private_sale_handgun,private_sale_long_gun,private_sale_other,return_to_seller_handgun,return_to_seller_long_gun,return_to_seller_other,totals,year
1,2017-09,Alaska,209.0,2.0,2320.0,2930.0,219.0,160,0.0,5.0,...,0.0,0.0,17.0,24.0,1.0,0.0,0.0,0.0,6303,2017
56,2017-08,Alaska,247.0,13.0,2656.0,3097.0,207.0,184,0.0,4.0,...,0.0,0.0,19.0,36.0,0.0,0.0,1.0,0.0,6946,2017
111,2017-07,Alaska,222.0,5.0,2911.0,2458.0,238.0,180,0.0,3.0,...,0.0,0.0,31.0,27.0,1.0,0.0,1.0,0.0,6487,2017
166,2017-06,Alaska,242.0,2.0,2909.0,2254.0,225.0,190,0.0,5.0,...,0.0,0.0,19.0,22.0,0.0,0.0,1.0,0.0,6353,2017
221,2017-05,Alaska,247.0,0.0,2851.0,2459.0,216.0,170,0.0,6.0,...,0.0,0.0,39.0,34.0,2.0,1.0,0.0,1.0,6442,2017
276,2017-04,Alaska,289.0,0.0,2997.0,2840.0,221.0,233,0.0,2.0,...,0.0,0.0,4.0,6.0,2.0,0.0,0.0,0.0,6983,2017
331,2017-03,Alaska,362.0,0.0,3067.0,2640.0,242.0,184,0.0,6.0,...,0.0,0.0,5.0,9.0,0.0,0.0,0.0,0.0,6971,2017
386,2017-02,Alaska,137.0,0.0,2857.0,2102.0,191.0,180,0.0,3.0,...,0.0,0.0,7.0,6.0,1.0,0.0,0.0,0.0,5917,2017
441,2017-01,Alaska,185.0,0.0,2028.0,1631.0,187.0,127,0.0,2.0,...,0.0,0.0,6.0,6.0,2.0,0.0,0.0,0.0,4500,2017
496,2016-12,Alaska,254.0,0.0,4087.0,3698.0,243.0,191,0.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8786,2016
551,2016-11,Alaska,254.0,0.0,3396.0,4019.0,316.0,249,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8514,2016
606,2016-10,Alaska,336.0,0.0,3906.0,3949.0,347.0,274,0.0,6.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9383,2016
661,2016-09,Alaska,306.0,0.0,2654.0,3126.0,180.0,181,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6867,2016
716,2016-08,Alaska,183.0,0.0,2725.0,3484.0,183.0,202,0.0,6.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7194,2016
771,2016-07,Alaska,215.0,0.0,2898.0,2816.0,239.0,165,0.0,7.0,...,0.0,0.0,7.0,17.0,0.0,1.0,0.0,0.0,6793,2016
826,2016-06,Alaska,290.0,0.0,2987.0,3204.0,286.0,185,0.0,10.0,...,0.0,0.0,7.0,3.0,1.0,0.0,0.0,0.0,7406,2016
881,2016-05,Alaska,253.0,0.0,2582.0,2391.0,190.0,160,0.0,13.0,...,0.0,0.0,7.0,19.0,0.0,0.0,0.0,0.0,5991,2016
936,2016-04,Alaska,298.0,0.0,3036.0,2777.0,178.0,176,0.0,7.0,...,0.0,0.0,6.0,8.0,0.0,0.0,2.0,0.0,6867,2016
991,2016-03,Alaska,256.0,0.0,3171.0,2750.0,209.0,189,0.0,12.0,...,0.0,0.0,6.0,7.0,0.0,0.0,0.0,0.0,6982,2016
1046,2016-02,Alaska,284.0,0.0,3190.0,2428.0,218.0,180,0.0,10.0,...,0.0,0.0,4.0,12.0,0.0,1.0,0.0,0.0,6779,2016
1101,2016-01,Alaska,192.0,0.0,2859.0,2245.0,300.0,164,0.0,5.0,...,0.0,0.0,2.0,0.0,0.0,0.0,1.0,0.0,6085,2016
1156,2015-12,Alaska,245.0,0.0,5265.0,4638.0,356.0,214,0.0,5.0,...,0.0,0.0,1.0,3.0,0.0,0.0,0.0,0.0,11055,2015
1211,2015-11,Alaska,209.0,0.0,3062.0,3209.0,191.0,184,0.0,9.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7095,2015
1266,2015-10,Alaska,212.0,0.0,4016.0,4414.0,264.0,321,0.0,8.0,...,0.0,0.0,3.0,1.0,0.0,0.0,0.0,0.0,9941,2015
1321,2015-09,Alaska,184.0,0.0,2294.0,3037.0,130.0,159,0.0,2.0,...,0.0,0.0,6.0,5.0,0.0,0.0,0.0,0.0,6195,2015
1376,2015-08,Alaska,236.0,0.0,2570.0,3440.0,142.0,161,0.0,6.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6976,2015
1431,2015-07,Alaska,171.0,0.0,2709.0,2439.0,116.0,164,0.0,11.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6029,2015
1486,2015-06,Alaska,291.0,0.0,2612.0,2256.0,113.0,141,0.0,6.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5830,2015
1541,2015-05,Alaska,203.0,0.0,2866.0,2337.0,178.0,166,0.0,11.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6168,2015
1596,2015-04,Alaska,242.0,0.0,3107.0,2908.0,186.0,200,0.0,10.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7030,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10836,2001-04,Alaska,0.0,0.0,1231.0,2084.0,0.0,83,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3398,2001
10891,2001-03,Alaska,0.0,0.0,1063.0,1780.0,0.0,69,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2912,2001
10946,2001-02,Alaska,0.0,0.0,887.0,1379.0,0.0,77,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2343,2001
11001,2001-01,Alaska,0.0,0.0,853.0,1494.0,0.0,61,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2409,2001
11056,2000-12,Alaska,0.0,0.0,1098.0,2791.0,0.0,71,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3960,2000
11111,2000-11,Alaska,0.0,0.0,944.0,1931.0,0.0,51,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2926,2000
11166,2000-10,Alaska,0.0,0.0,1541.0,3417.0,0.0,178,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5136,2000
11221,2000-09,Alaska,0.0,0.0,916.0,2559.0,0.0,78,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3553,2000
11276,2000-08,Alaska,0.0,0.0,977.0,2790.0,0.0,75,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3842,2000
11331,2000-07,Alaska,0.0,0.0,1057.0,2121.0,0.0,81,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3259,2000
11386,2000-06,Alaska,0.0,0.0,990.0,1907.0,0.0,62,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2959,2000
11441,2000-05,Alaska,0.0,0.0,983.0,2015.0,0.0,71,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3069,2000
11496,2000-04,Alaska,0.0,0.0,1241.0,2110.0,0.0,81,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3432,2000
11551,2000-03,Alaska,0.0,0.0,1163.0,1826.0,0.0,65,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3054,2000
11606,2000-02,Alaska,0.0,0.0,995.0,1556.0,0.0,69,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2620,2000
11661,2000-01,Alaska,0.0,0.0,809.0,1288.0,0.0,52,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2149,2000
11716,1999-12,Alaska,0.0,0.0,1354.0,2833.0,0.0,77,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4264,1999
11771,1999-11,Alaska,0.0,0.0,1056.0,2048.0,0.0,65,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3169,1999
11826,1999-10,Alaska,0.0,0.0,1851.0,3707.0,0.0,165,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5723,1999
11881,1999-09,Alaska,0.0,0.0,999.0,2567.0,0.0,57,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3623,1999
11936,1999-08,Alaska,0.0,0.0,1111.0,3063.0,0.0,69,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4243,1999
11991,1999-07,Alaska,0.0,0.0,1297.0,2363.0,0.0,84,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3744,1999
12046,1999-06,Alaska,0.0,0.0,1174.0,1944.0,0.0,83,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3201,1999
12101,1999-05,Alaska,0.0,0.0,1140.0,2065.0,0.0,73,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3278,1999
12156,1999-04,Alaska,2.0,0.0,1381.0,2462.0,0.0,86,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3931,1999
12211,1999-03,Alaska,0.0,0.0,1205.0,1935.0,0.0,66,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3206,1999
12266,1999-02,Alaska,0.0,0.0,941.0,1410.0,0.0,62,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2413,1999
12321,1999-01,Alaska,0.0,0.0,830.0,1393.0,0.0,55,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2278,1999
12376,1998-12,Alaska,0.0,0.0,1294.0,2487.0,0.0,59,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3840,1998
12431,1998-11,Alaska,4.0,0.0,71.0,68.0,0.0,2,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,145,1998

In [ ]:
############################################################################################################################

In [12]:
df2.head(2)

,Fact,Fact Note,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
0,"Population estimates, July 1, 2016, (V2016)",NaN,"4,863,300","741,894","6,931,071","2,988,248","39,250,017","5,540,545","3,576,452","952,065",...,865454,6651194,"27,862,596","3,051,217","624,594","8,411,808","7,288,000","1,831,102","5,778,708","585,501"
1,"Population estimates base, April 1, 2010, (V2...",NaN,"4,780,131","710,249","6,392,301","2,916,025","37,254,522","5,029,324","3,574,114","897,936",...,814195,6346298,"25,146,100","2,763,888","625,741","8,001,041","6,724,545","1,853,011","5,687,289","563,767"

In [13]:
# rows with missing - df2
df2.isnull().sum()

Fact               2
Fact Note         54
Alabama           17
Alaska            17
Arizona           17
Arkansas          17
California        17
Colorado          17
Connecticut       17
Delaware          17
Florida           17
Georgia           17
Hawaii            17
Idaho             17
Illinois          17
Indiana           17
Iowa              17
Kansas            17
Kentucky          17
Louisiana         17
Maine             17
Maryland          17
Massachusetts     17
Michigan          17
Minnesota         17
Mississippi       17
Missouri          17
Montana           17
Nebraska          17
Nevada            17
New Hampshire     17
New Jersey        17
New Mexico        17
New York          17
North Carolina    17
North Dakota      17
Ohio              17
Oklahoma          17
Oregon            17
Pennsylvania      17
Rhode Island      17
South Carolina    17
South Dakota      17
Tennessee         17
Texas             17
Utah              17
Vermont           17
Virginia          17
Washington        17
West Virginia     17
Wisconsin         17
Wyoming           17
dtype: int64

In [14]:
# Fact Note..we cannot drop it due to too many loss
df2['Fact Note'].fillna('no', inplace=True)

In [15]:
# Now, we can drop. 
df2.dropna(axis=0, how='any', inplace=True)
df2.drop('Fact Note', axis=1, inplace=True)

In [16]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 65 entries, 0 to 64
Data columns (total 51 columns):
Fact              65 non-null object
Alabama           65 non-null object
Alaska            65 non-null object
Arizona           65 non-null object
Arkansas          65 non-null object
California        65 non-null object
Colorado          65 non-null object
Connecticut       65 non-null object
Delaware          65 non-null object
Florida           65 non-null object
Georgia           65 non-null object
Hawaii            65 non-null object
Idaho             65 non-null object
Illinois          65 non-null object
Indiana           65 non-null object
Iowa              65 non-null object
Kansas            65 non-null object
Kentucky          65 non-null object
Louisiana         65 non-null object
Maine             65 non-null object
Maryland          65 non-null object
Massachusetts     65 non-null object
Michigan          65 non-null object
Minnesota         65 non-null object
Mississippi       65 non-null object
Missouri          65 non-null object
Montana           65 non-null object
Nebraska          65 non-null object
Nevada            65 non-null object
New Hampshire     65 non-null object
New Jersey        65 non-null object
New Mexico        65 non-null object
New York          65 non-null object
North Carolina    65 non-null object
North Dakota      65 non-null object
Ohio              65 non-null object
Oklahoma          65 non-null object
Oregon            65 non-null object
Pennsylvania      65 non-null object
Rhode Island      65 non-null object
South Carolina    65 non-null object
South Dakota      65 non-null object
Tennessee         65 non-null object
Texas             65 non-null object
Utah              65 non-null object
Vermont           65 non-null object
Virginia          65 non-null object
Washington        65 non-null object
West Virginia     65 non-null object
Wisconsin         65 non-null object
Wyoming           65 non-null object
dtypes: object(51)
memory usage: 26.4+ KB

In [ ]:
#########################################################################################################

In [18]:
df1.head()

,month,state,permit,permit_recheck,handgun,long_gun,other,multiple,admin,prepawn_handgun,...,returned_other,rentals_handgun,rentals_long_gun,private_sale_handgun,private_sale_long_gun,private_sale_other,return_to_seller_handgun,return_to_seller_long_gun,return_to_seller_other,totals
0,2017-09,Alabama,16717.0,0.0,5734.0,6320.0,221.0,317,0.0,15.0,...,0.0,0.0,0.0,9.0,16.0,3.0,0.0,0.0,3.0,32019
1,2017-09,Alaska,209.0,2.0,2320.0,2930.0,219.0,160,0.0,5.0,...,0.0,0.0,0.0,17.0,24.0,1.0,0.0,0.0,0.0,6303
2,2017-09,Arizona,5069.0,382.0,11063.0,7946.0,920.0,631,0.0,13.0,...,0.0,0.0,0.0,38.0,12.0,2.0,0.0,0.0,0.0,28394
3,2017-09,Arkansas,2935.0,632.0,4347.0,6063.0,165.0,366,51.0,12.0,...,0.0,0.0,0.0,13.0,23.0,0.0,0.0,2.0,1.0,17747
4,2017-09,California,57839.0,0.0,37165.0,24581.0,2984.0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,123506

In [20]:
df2.tail()

,Fact,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Florida,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
60,"Veteran-owned firms, 2012","41,943","7,953","46,780","25,915","252,377","51,722","31,056","7,206","185,756",...,8604,59379,"213,590","18,754","8,237","76,434","49,331","12,912","39,830","6,470"
61,"Nonveteran-owned firms, 2012","316,984","56,091","427,582","192,988","3,176,341","469,524","281,182","60,318","1,846,686",...,66219,469392,"2,057,218","219,807","63,317","548,439","461,401","94,960","370,755","51,353"
62,"Population per square mile, 2010",94.4,1.2,56.3,56,239.1,48.5,738.1,460.8,350.6,...,10.7,153.9,96.3,33.6,67.9,202.6,101.2,77.1,105,5.8
63,"Land area in square miles, 2010","50,645.33","570,640.95","113,594.08","52,035.48","155,779.22","103,641.89","4,842.36","1,948.54","53,624.76",...,75811,41234.9,"261,231.71","82,169.62","9,216.66","39,490.09","66,455.52","24,038.21","54,157.80","97,093.14"
64,FIPS Code,"""01""","""02""","""04""","""05""","""06""","""08""","""09""","""10""","""12""",...,"""46""","""47""","""48""","""49""","""50""","""51""","""53""","""54""","""55""","""56"""

In [17]:
df2.Fact

0          Population estimates, July 1, 2016,  (V2016)
1     Population estimates base, April 1, 2010,  (V2...
2     Population, percent change - April 1, 2010 (es...
3                     Population, Census, April 1, 2010
4     Persons under 5 years, percent, July 1, 2016, ...
5         Persons under 5 years, percent, April 1, 2010
6     Persons under 18 years, percent, July 1, 2016,...
7        Persons under 18 years, percent, April 1, 2010
8     Persons 65 years and over, percent,  July 1, 2...
9     Persons 65 years and over, percent, April 1, 2010
10     Female persons, percent,  July 1, 2016,  (V2016)
11               Female persons, percent, April 1, 2010
12         White alone, percent, July 1, 2016,  (V2016)
13    Black or African American alone, percent, July...
14    American Indian and Alaska Native alone, perce...
15         Asian alone, percent, July 1, 2016,  (V2016)
16    Native Hawaiian and Other Pacific Islander alo...
17    Two or More Races, percent, July 1, 2016,  (V2...
18    Hispanic or Latino, percent, July 1, 2016,  (V...
19    White alone, not Hispanic or Latino, percent, ...
20                                  Veterans, 2011-2015
21             Foreign born persons, percent, 2011-2015
22               Housing units,  July 1, 2016,  (V2016)
23                         Housing units, April 1, 2010
24          Owner-occupied housing unit rate, 2011-2015
25    Median value of owner-occupied housing units, ...
26    Median selected monthly owner costs -with a mo...
27    Median selected monthly owner costs -without a...
28                         Median gross rent, 2011-2015
29                               Building permits, 2016
                            ...
35    Bachelor's degree or higher, percent of person...
36    With a disability, under age 65 years, percent...
37    Persons  without health insurance, under age 6...
38    In civilian labor force, total, percent of pop...
39    In civilian labor force, female, percent of po...
40    Total accommodation and food services sales, 2...
41    Total health care and social assistance receip...
42         Total manufacturers shipments, 2012 ($1,000)
43       Total merchant wholesaler sales, 2012 ($1,000)
44                    Total retail sales, 2012 ($1,000)
45                  Total retail sales per capita, 2012
46    Mean travel time to work (minutes), workers ag...
47    Median household income (in 2015 dollars), 201...
48    Per capita income in past 12 months (in 2015 d...
49                          Persons in poverty, percent
50                  Total employer establishments, 2015
51                               Total employment, 2015
52                  Total annual payroll, 2015 ($1,000)
53          Total employment, percent change, 2014-2015
54               Total nonemployer establishments, 2015
55                                      All firms, 2012
56                                Men-owned firms, 2012
57                              Women-owned firms, 2012
58                           Minority-owned firms, 2012
59                        Nonminority-owned firms, 2012
60                            Veteran-owned firms, 2012
61                         Nonveteran-owned firms, 2012
62                     Population per square mile, 2010
63                      Land area in square miles, 2010
64                                            FIPS Code
Name: Fact, dtype: object

In [34]:
df = df2.transpose()

In [42]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,55,56,57,58,59,60,61,62,63,64
Fact,"Population estimates, July 1, 2016, (V2016)","Population estimates base, April 1, 2010, (V2...","Population, percent change - April 1, 2010 (es...","Population, Census, April 1, 2010","Persons under 5 years, percent, July 1, 2016, ...","Persons under 5 years, percent, April 1, 2010","Persons under 18 years, percent, July 1, 2016,...","Persons under 18 years, percent, April 1, 2010","Persons 65 years and over, percent, July 1, 2...","Persons 65 years and over, percent, April 1, 2010",...,"All firms, 2012","Men-owned firms, 2012","Women-owned firms, 2012","Minority-owned firms, 2012","Nonminority-owned firms, 2012","Veteran-owned firms, 2012","Nonveteran-owned firms, 2012","Population per square mile, 2010","Land area in square miles, 2010",FIPS Code
Alabama,"4,863,300","4,780,131",1.70%,"4,779,736",6.00%,6.40%,22.60%,23.70%,16.10%,13.80%,...,"374,153","203,604","137,630","92,219","272,651","41,943","316,984",94.4,"50,645.33","""01"""
Alaska,"741,894","710,249",4.50%,"710,231",7.30%,7.60%,25.20%,26.40%,10.40%,7.70%,...,"68,032","35,402","22,141","13,688","51,147","7,953","56,091",1.2,"570,640.95","""02"""
Arizona,"6,931,071","6,392,301",8.40%,"6,392,017",6.30%,7.10%,23.50%,25.50%,16.90%,13.80%,...,"499,926","245,243","182,425","135,313","344,981","46,780","427,582",56.3,"113,594.08","""04"""
Arkansas,"2,988,248","2,916,025",2.50%,"2,915,918",6.40%,6.80%,23.60%,24.40%,16.30%,14.40%,...,"231,959","123,158","75,962","35,982","189,029","25,915","192,988",56,"52,035.48","""05"""

In [ ]:
# Prepare to combine two datasets
#need extract 'state' column
#need to extract 'month' column

In [ ]:
df2.transpose()

> **Tip**: You should _not_ perform too many operations in each cell. Create cells freely to explore your data. One option that you can take with this project is to do a lot of explorations in an initial notebook. These don't have to be organized, but make sure you use enough comments to understand the purpose of each code cell. Then, after you're done with your analysis, create a duplicate notebook where you will trim the excess and organize your steps so that you have a flowing, cohesive report.

> **Tip**: Make sure that you keep your reader informed on the steps that you are taking in your investigation. Follow every code cell, or every set of related code cells, with a markdown cell to describe to the reader what was found in the preceding cell(s). Try to make it so that the reader can then understand what they will be seeing in the following cell(s).

### Data Cleaning (Replace this with more specific notes!)

In [ ]:
# After discussing the structure of the data and any problems that need to be
#   cleaned, perform those cleaning steps in the second part of this section.

<a id='eda'></a>
## Exploratory Data Analysis

> **Tip**: Now that you've trimmed and cleaned your data, you're ready to move on to exploration. Compute statistics and create visualizations with the goal of addressing the research questions that you posed in the Introduction section. It is recommended that you be systematic with your approach. Look at one variable at a time, and then follow it up by looking at relationships between variables.

### Research Question 1 (Replace this header name!)

In [ ]:
# Use this, and more code cells, to explore your data. Don't forget to add
#   Markdown cells to document your observations and findings.

### Research Question 2  (Replace this header name!)

In [ ]:
# Continue to explore the data to address your additional research
#   questions. Add more headers as needed if you have more questions to
#   investigate.

<a id='conclusions'></a>
## Conclusions

> **Tip**: Finally, summarize your findings and the results that have been performed. Make sure that you are clear with regards to the limitations of your exploration. If you haven't done any statistical tests, do not imply any statistical conclusions. And make sure you avoid implying causation from correlation!

> **Tip**: Once you are satisfied with your work, you should save a copy of the report in HTML or PDF form via the **File** > **Download as** submenu. Before exporting your report, check over it to make sure that the flow of the report is complete. You should probably remove all of the "Tip" quotes like this one so that the presentation is as tidy as possible. Congratulations!